<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tkitem.backend.domain.cart.mapper.CartMapper">

    <select id="findCartIdByMemberId" resultType="long">
        SELECT cart_id
        FROM CART
        WHERE member_id = #{memberId}
    </select>

    <insert id="insertCart" parameterType="tkitem.backend.domain.cart.dto.CartInsertDto">
        <selectKey keyProperty="cartId" resultType="long" order="BEFORE">
            SELECT CART_SEQ.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO CART (cart_id, member_id, created_by)
        VALUES (#{cartId}, #{memberId}, #{createdBy})
    </insert>

    <select id="findTripsByMemberId" resultType="tkitem.backend.domain.cart.dto.CartTripDto">
        SELECT
            T.TRIP_ID AS tripId,
            T.TITLE AS tripTitle,
            T2.IMG_URL AS imgUrl
        FROM TRIP T
                 JOIN TOUR_PACKAGE TP on T.TOUR_PACKAGE_ID = TP.TOUR_PACKAGE_ID
                 JOIN TOUR T2 on TP.TOUR_ID = T2.TOUR_ID
        WHERE T.MEMBER_ID = #{memberId}
        ORDER BY T.CREATED_AT DESC
    </select>

</mapper>