<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tkitem.backend.domain.member.mapper.SocialTypeMapper">
    <!-- 일반 회원의 소셜 타입값 저장 -->
    <insert id="insertSocialType">
        INSERT INTO SOCIAL_TYPE (
            MEMBER_ID,
            TYPE
        ) VALUES (
            #{memberId},
            #{type},
            #{oauthId}
        )
    </insert>
</mapper>
