<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tkitem.backend.domain.scheduleType.mapper.TourDetailScheduleMapper">

    <select id="selectBatchForIndexing" resultType="tkitem.backend.domain.scheduleType.dto.TourDetailScheduleRowDto">
        SELECT
            tds.tour_detail_schedule_id as tourDetailScheduleId,
            tds.tour_id as tourId,
            schedule_date AS scheduleDate,
            c.country_name as countryName,
            c.city_name as cityName,
            tds.sort_order as sortOrder,
            tds.Title as title,
            tds.Description as description
        FROM TOUR_DETAIL_SCHEDULE tds left outer join CITY c on tds.city_id = c.city_id
        ORDER BY tds.tour_detail_schedule_id
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>
</mapper>