<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tkitem.backend.domain.trip.mapper.TripMapper">
    <select id="selectTripsByMemberId" resultType="tkitem.backend.domain.trip.vo.Trip">
        SELECT *
        FROM (
            SELECT
                t.trip_id       AS tripId,
                tr.img_url    AS imgUrl,
                t.title         AS title,
                TO_CHAR(t.departure_date, 'YYYY-MM-DD') AS departureDate,
                TO_CHAR(t.arrival_date, 'YYYY-MM-DD')   AS arrivalDate,
                (TRUNC(t.departure_date) - TRUNC(SYSDATE)) AS dDay,
                CASE
                    WHEN TRUNC(SYSDATE) &lt; TRUNC(t.departure_date) THEN 'UPCOMING'
                    WHEN TRUNC(SYSDATE) BETWEEN TRUNC(t.departure_date) AND TRUNC(t.arrival_date) THEN 'ONGOING'
                    WHEN TRUNC(SYSDATE) &gt; TRUNC(t.arrival_date) THEN 'PAST'
                END AS status
            FROM TRIP t
            LEFT JOIN TOUR_PACKAGE tp
              ON t.tour_package_id = tp.tour_package_id
            LEFT JOIN TOUR tr
              ON tp.tour_id = tr.tour_id
            WHERE t.member_id = #{memberId}
            <if test="cursorDepartureDate != null and cursorTripId != null">
                AND (
                    t.departure_date &lt; TO_DATE(#{cursorDepartureDate}, 'YYYY-MM-DD')
                    OR (t.departure_date = TO_DATE(#{cursorDepartureDate}, 'YYYY-MM-DD') AND t.trip_id &lt; #{cursorTripId})
                )
            </if>
            ORDER BY
                CASE
                    WHEN TRUNC(SYSDATE) BETWEEN TRUNC(t.departure_date) AND TRUNC(t.arrival_date) THEN 1
                    WHEN TRUNC(SYSDATE) &lt; TRUNC(t.departure_date) THEN 2
                    WHEN TRUNC(SYSDATE) > TRUNC(t.arrival_date) THEN 3
                END,
                CASE
                    WHEN TRUNC(SYSDATE) BETWEEN TRUNC(t.departure_date) AND TRUNC(t.arrival_date) THEN TRUNC(t.departure_date)
                    WHEN TRUNC(SYSDATE) &lt; TRUNC(t.departure_date) THEN TRUNC(t.departure_date)
                    WHEN TRUNC(SYSDATE) > TRUNC(t.arrival_date) THEN NULL
                END ASC,
                CASE
                    WHEN TRUNC(SYSDATE) > TRUNC(t.arrival_date) THEN TRUNC(t.arrival_date)
                    ELSE NULL
                END DESC,
                t.trip_id DESC
        )
        WHERE ROWNUM &lt;= #{limit}
    </select>
</mapper>
